body {
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hello_container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: url("../src/img/header.webp"), #cccccce5;
  background-repeat: no-repeat;
  background-position: 25% 15%;
  transition-delay: 0.5s;
  background-size: contain;
  transition: 1s;
}
.hello_container.animate {
  background-position: right;
}
.content {
  margin-left: 6rem;
  margin-right: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.content.hero-name {
  background: #cccccc;
  margin: 0;
  padding-left: 14rem;
  padding-right: 14rem;
  text-align: center;
}
img {
  width: 100%;
  max-width: 40rem;
  height: auto;
}
.img-container {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.img-container {
  margin-left: -4rem;
  margin-right: -4rem;
}
a {
  color: white !important;
}
.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.leftcont {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 10rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
  backdrop-filter: blur(15px);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
.carousel {
  text-align: center;
}
section {
  margin-top: 2rem;
}
blockquote-sign {
  font-size: 1.5em;
  line-height: 1.5em;
}

blockquote-sign:before {
  content: open-quote;
  margin-right: 1rem;
}

blockquote-sign:after {
  content: close-quote;
  margin-left: 1rem;
}

blockquote-sign:before,
blockquote-sign:after {
  display: inline-block;
  vertical-align: bottom;
  color: black;
  opacity: 0.6;
  font-size: 4em;
  top: 0.2em;
  position: relative;
}
.box {
  display: flex;
}
.box > * {
  flex: 1 1 200px;
}

@media (max-width: 600px) {
  .col {
    width: 100rem;
  }
  .content {
    margin: 0;
    padding: 1rem;
  }
  .content.hero-name {
    margin: 0;
    padding: 1rem 0 2rem 0;
  }
  .image-container,
  .img-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .hello_container {
    background-size: 170%;
  }
}
@media (min-width: 900px) {
  body {
    background: url("../src/img/air.webp");
    background-size: 10%;
  }
  .content {
    margin-left: 18rem;
    margin-right: 18rem;
    background: white;
  }
  .navbar {
    padding-left: 19rem;
  }
  .pchide {
    display: none;
  }
}
.mobilehide {
  display: flex;
}
@media (max-width: 900px) {
  .mobilehide {
    display: none;
  }
  .leftcont {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-item {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(85, 85, 85, 0.4));
    max-width: 20rem;
    margin-left: -0.8rem;
    padding-left: 0.8rem;
  }
}
