
* {
  word-wrap: break-word;
}
body {
  background: rgb(237, 237, 237);
  padding: 0;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hello_container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: url("../src/img/header.webp");
  background-repeat: no-repeat;
  background-position: 25% 15%;
  transition-delay: 0.5s;
  background-size: contain;
  transition: 1s;
}
.round-container {
  filter: drop-shadow(10px 10px 32px #33333311);

  background: white;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0 0 1rem 1rem;
}
.margin-container {
  margin-top: 5rem;
}
.margin-container-inside {
  margin-top: 3rem;
}
.margin-left-p {
  margin-top: 2rem;
  margin-left: 2rem;
}
.margin-right-p {
  margin-top: 2rem;
  margin-right: 2rem;
}
.col-sm {
  position: relative;
  min-height: 5rem;
}
.gerb {
  min-width: 18vw;
  max-width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  top: -4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.quote-container {
  padding-right: 20rem;
}
.about-baranovichi {
  width: 50%;
}
.hello_container.animate {
  background-position: right;
}
.content {
  margin-left: clamp(1rem, 19vw, 30rem);
  margin-right: clamp(1rem, 19vw, 30rem);
}
.content.hero-name {
  background: #cccccc;
  margin: 0;
  padding-left: 14rem;
  padding-right: 14rem;
  text-align: center;
}
img {
  width: 100%;
  max-width: 40rem;
  height: auto;
}
.img-container {
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.carousel-item > .img-container,
.iframe-div {
  background-position: center !important;
}
iframe {
  min-width: 100%;
  height: 60vw;
  max-height: 45rem;
}
.carousel {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.img-container {
  position: relative;
  margin-left: -4rem;
  margin-right: -4rem;
}
.img-container img {
  max-height: 30rem;
  width: fit-content;
  max-width: 100%;
}
img.image-resized {
  height: 100%;
  width: fit-content;
}
.image-resized > .carousel-item {
  height: 50vh;
}
a {
  color: white !important;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.leftcont {
  width: clamp(65vw, 60rem, 100vw);
  font-weight: 1;
  color: black;
  margin-top: 7rem;
  padding-left: clamp(1rem, 12vw, 15rem);
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.carousel {
  text-align: center;
}
.d-grid * {
  margin-top: 0.6rem !important;
  margin-right: 0.8rem;
}
.header-btn {
  background: #3165f400;
  color: black;
  font-weight: 400;
}
.header-btn,
.header-btn-active {
  transition: 0.2s;
}
.header-btn:hover,
.header-btn-active:hover {
  background: #3165f4ad;
  filter: drop-shadow(0 0 10px #3165f4ad);
}
.header-btn-active:hover {
  background: #3165f4;
}
section {
  margin-top: 2rem;
}
blockquote-sign {
  font-size: 1.5em;
  line-height: 1.5em;
}

blockquote-sign:before {
  content: open-quote;
  margin-right: 1rem;
}

blockquote-sign:after {
  content: close-quote;
  margin-left: 1rem;
}

blockquote-sign:before,
blockquote-sign:after {
  display: inline-block;
  vertical-align: bottom;
  color: black;
  opacity: 0.6;
  font-size: 4em;
  top: 0.2em;
  position: relative;
}
.box {
  display: flex;
}
.box > * {
  flex: 1 1 200px;
}
.button-margin {
  margin-top: 2rem;
}
.navbar * {
  color: black !important;
}
.slider-container {
  height: 25rem;
}
@media (max-width: 600px) {
  .nav-link {
    border-left: 0.25rem solid rgba(0, 0, 0, 1);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  .col {
    width: 100rem;
  }
  .content {
    margin: 0;
    padding: 1rem;
  }
  
  .image-container,
  .img-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .hello_container {
    background-size: 170%;
  }
}
@media(max-width: 1200px){
img{
min-width: 400px;
max-width: 100%;
}
}
@media (min-width: 1200px) {
  .leftcont {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}
@media (min-width: 900px) {
  .round-container .col-sm:first-child {
    min-width: 12rem;
  }
  .leftcont {
    padding-right: 15rem;
  }
  .margin-top-header {
    margin-top: 5rem;
  }
  .margin-top-qr {
    margin-top: 8rem;
  }
  .quest-padding-left {
    margin-left: 7rem;
    padding-right: 15rem !important;
  }

  body {
    /* background: url("../src/img/air.webp"); */
    background-size: 10%;
  }
  .top-padding {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .navbar {
    padding-left: clamp(1rem, 12vw, 15rem);
  }
}
.mobilehide {
  display: flex;
}
.quest-img {
  width: 4rem;
}
.row {
  margin-bottom: 2.5rem;
}
.column {
  width: max-content;
}
.hero-name .col-lg:nth-child(2) {
  padding: 1rem 2rem 0 2rem;
}
.panel {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.panel-transition {
  visibility: hidden;
  opacity: 0;
}


@media (max-width: 600px) {
img{
min-width: 200px;
max-width: 100%;
}
  .slider-container {
    height: 14rem;
  }
  .slider-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .row {
    margin-bottom: 1rem !important;
  }
  .hello_container {
    height: 100%;
    width: 100%;
    max-width: 100%;
    background: url("../src/img/header-mobile.webp");
    background-repeat: no-repeat;
    background-position: 10% 60% !important;
    background-size: cover;
    transition-delay: 0.5s;
    transition: 1s;
  }
  .margin-left-p,
  .margin-right-p {
    margin-top: 1rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .margin-top-qr {
    margin-top: 6rem;
  }
  
  .button-margin {
    margin-top: 0.25rem;
    margin-bottom: 2rem;
  }
  .margin-container {
    margin-top: 1rem;
  }
  .margin-container-inside {
    margin-top: 0.5rem;
  }
  .margin-right-p,
  .margin-left-p {
    margin-top: 0;
  }
  .round-container {
    padding: 1rem 1rem 1rem 1rem;
  }
  .gerb {
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .leftcont {
    width: 100%;
  }

  .quest-padding-top-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .column {
    width: 100%;
    text-align: center;
  }

  .leftcont {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  a {
    min-width: 20rem;
    margin-top: 0.2rem;
    padding-left: 0.4rem !important;
  }
  a.navbar-brand {
    min-width: fit-content;
  }
}
@media (max-width: 900px){
content {
    margin: 0;
    padding: 3rem;
  }
}
@media (max-width: 1200px) {
  .mobilehide {
    display: none;
  }
.pchide{
display: auto;
}
.quote-container {
    padding-right: 0;
  }
.content.hero-name {
    margin: 0 auto;
    padding: 1rem 0 2rem 0;
  }
.col-sm{
width: 100% !important;
}
}

@media (min-width: 1200px) {
  .pchide {
    display: none;
  }
.mobilehide{
display: auto;
}
}
