h1 {
  font-size: 5rem;
}
p {
  font-size: 16px;
}
p {
  opacity: 0;
}
p.animate {
  animation: pAnimation 1s;
  opacity: 1;
}
@keyframes pAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
bigfont {
  font-size: 5rem;
  font-weight: 500;
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  bigfont {
    font-size: 3rem;
  }
}
